# Windows opacity
# set $opacity 0.95
# for_window [class=".*"] opacity $opacity
# for_window [app_id=".*"] opacity $opacity
# for_window [app_id="zen-twilight"] opacity 1.0
# for_window [class="zen-twilight"] opacity 1.0
# for_window [app_id="mpv"] opacity 1.0
# for_window [class="mpv"] opacity 1.0

# Assign workspaces
# for_window [app_id="zen-twilight"] move to workspace 1, workspace 1
# for_window [class="zen-twilight"] move to workspace 1, workspace 1
# for_window [app_id="com.mitchellh.ghostty"] move to workspace 2, workspace 2
# for_window [class="com.mitchellh.ghostty"] move to workspace 2, workspace 2
# for_window [app_id="thunar"] move to workspace 3, workspace 3
for_window [app_id="discord|vesktop"] move to workspace 4, workspace 4
for_window [app_id="steam"] move to workspace 5, workspace 5
for_window [class="steam"] move to workspace 5, workspace 5
for_window [class="Spotify"] move to workspace 6, workspace 6
for_window [app_id="com.vixalien.sticky"] move to workspace 9, workspace 9

# Floating rules
for_window [app_id="com.vixalien.sticky"] floating enable
for_window [class="com.vixalien.sticky"] floating enable
for_window [app_id="com.mitchellh.ghostty"] floating enable
for_window [class="com.mitchellh.ghostty"] floating enable
for_window [app_id="mpv"] floating enable
for_window [app_id="mpv"] resize set 960 540
for_window [app_id="mpv"] border pixel 0
for_window [app_id="zen-twilight" title="Zen Twilight – Sharing Indicator"] floating enable
for_window [app_id="zen-twilight" title="Picture-in-Picture"] floating enable
# for_window [app_id="zen-twilight" title="— Zen Twilight"] floating enable
# for_window [app_id="zen-twilight" title="^Zen Twilight"] floating enable
for_window [app_id="galculator"] floating enable
for_window [window_role="pop-up"] floating enable
for_window [window_role="bubble"] floating enable
for_window [window_role="task_dialog"] floating enable
for_window [window_role="dialog"] floating enable
for_window [window_role="Preferences"] floating enable
for_window [window_type="dialog"] floating enable
for_window [window_type="menu"] floating enable
# for_window [app_id="thunar" title="^Copying.*"] floating enable
# for_window [app_id="thunar" title="^File.*"] floating enable
for_window [app_id="thunar"] floating enable
for_window [app_id="nm-connection-editor"] floating enable
for_window [app_id="nm-applet"] floating enable
for_window [app_id="file-roller"] floating enable
for_window [title="(?:Open|Save) (?:File|Folder|As)"] floating enable, resize set width 1030 height 710
for_window [title="File Operation Progress"] floating enable, border pixel 1, sticky enable, resize set width 40 ppt height 30 ppt


# Inhibit idle
for_window [app_id="zen-twilight"] inhibit_idle
for_window [app_id="mpv"] inhibit_idle
